@{
    ViewBag.Title = "Question Database";
}

<div class="jumbotron">
    <h1>Question Database</h1>
    <p class="lead">This website stores information about questions and questioners.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting question information</h2>
        <p>
            This shows useful information. You may find interesting questions.
        </p>
        <p class="btn btn-info">@Html.ActionLink("Go to question page", "Index", "questions") &raquo;</p>
    </div>
    <div class="col-md-6">
        <h2>Getting questioners information</h2>
        <p>Don't abuse this information.</p>
        <p class="btn btn-info">@Html.ActionLink("Go to question page", "Index", "questioners") &raquo;</p>
    </div>
</div>